<footer>
    <a href="contacto.html">Contacta con nosotros</a>
    <address>C/Santa Coloma, 114-116 08030 Barcelona</address>
    <div>
        <p>(+34) 93 311 52 54</p>
        <p>(+34) 675 60 46 94</p>
        <p>(+34) 675 60 46 98</p>
    </div>
    <p>acdea@acdea.es</p>
</footer>