<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="/contacto" class="footer-link">Contacta con nosotros</a>
                <address class="footer-address">C/Santa Coloma, 114-116 08030 Barcelona</address>
            </div>
            <div class="col-md-3">
                <div class="footer-contact">
                    <p class="footer-phone">(+34) 93 311 52 54</p>
                    <p class="footer-phone">(+34) 675 60 46 94</p>
                    <p class="footer-phone">(+34) 675 60 46 98</p>
                </div>
            </div>
            <div class="col-md-3">
                <p class="footer-email">fedeami@faf.es</p>
            </div>
        </div>
    </div>
</footer>
