
<footer class="footer">
    <div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 d-flex align-items-center">
                <div>
                    <a href="/contacto" class="footer-link">Contacta con nosotros</a>
                    <address id="color" class="footer-address">Dirección: Carrer der Furbito, nº1 08032 Barcelona</address>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-center">
                <div class="footer-contact">
                    <p id="color" class="footer-phone">Teléfono fijo: (+34) 93 333 33 33</p>
                    <p id="color" class="footer-phone">Teléfono móvil: (+34) 666 66 66 66</p>
                    <p id="color" class="footer-phone">Telefono móvil: (+34) 777 77 77 77</p>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-center">
                <p id="color" class="footer-email">Nuestro correo: fedeami@faf.es</p>
            </div>
        </div>
    </div>
</div>
</footer>
