<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <div>
                <a class="navbar-brand" href="/">
                    <img src="/img/logoFAF.png" alt="Logo">
                </a>
            </div>
            <div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/competicion">Competición</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/actualidad">Actualidad</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/galeria">Galeria</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/inscripciones">Inscripciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contacto">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <% if (user) { %>
                  <form id="logoutForm" action="/logout" method="post">
                    <button id="BtnCierra" type="submit" class="btn btn-primary">Cerrar sesión</button>
                  </form>
                <% } else { %>
                  <button id="BtnLgn" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
                <% } %>
                <div id="modal" class="modal">
                  <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Login</h2>
                    <form id="loginForm" action="/login" method="post">
                      <input id="nickname" type="text" name="nickname" placeholder="nombreusuario" required>
                      <input id="password" type="password" name="password" placeholder="contraseña" required>
                      <h1>No tienes cuenta?</h1>
                      <a href="inscripciones">Inscríbete aquí</a>
                      <button type="submit">Iniciar sesión</button>
                    </form>
                  </div>
                </div>
              </div>
              
        </div>
    </nav>
    <script src="/js/header.js"></script>
    <link rel="icon" type="image/jpg" href="/img/favicoonFAF.ico" />
</header>