<header>
    <div>
        <a href="index.html">
            <img src="/img/logo-acdea-x60b.png" alt="Logo">
        </a>
    </div>
    <div id="menucabecera">
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="organizacion.html">Organización</a></li>
            <li><a href="competicion.html">Competición</a></li>
            <li><a href="actualidad.html">Actualidad</a></li>
            <li><a href="galeria.html">Galeria</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </div>
  </header>