<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAF-Contacto</title>
    <%- include('partials/headLinks.ejs') %>
    <link rel="stylesheet" href="css/contacto.css">
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <h2 class="text-center">Contacta con nosotros</h2>
        <main class="container mt-5">
            <div class="row">
                <div class="col-md-6">
                    <form id="contacto">
                        <h3>Datos de contacto</h3>
                        <p>Ingresa aquí tus datos para que podamos contactar contigo. Es importante que nos expliques lo más claramente posible el motivo de contacto para poder resolver mejor tus dudas.</p>
                        <div class="mb-3">
                            <label for="name" class="form-label">Nombre y apellido</label>
                            <input type="text" class="form-control" id="name">
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">Teléfono de contacto</label>
                            <input type="text" class="form-control" id="phone">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo Electrónico</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="mb-3">
                            <label for="message" class="form-label">Cuéntanos tus dudas</label>
                            <textarea class="form-control" id="message" rows="3""></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
                <div id="mapa" class="col-md-6" style="position: relative; overflow: hidden;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5984.089709478081!2d2.154385!3d41.41654496900508!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4bd4a55555555%3A0x5d1751295cb06005!2sCamp%20de%20F%C3%BAtbol%20Municipal%20El%20Carmel!5e0!3m2!1ses!2ses!4v1685979639131!5m2!1ses!2ses" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
                  </div>
                  
            </div>
        </main>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>
