<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <%- include('partials/headLinks.ejs') %>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <h3>Contacta con nosotros</h3>
    <main>
        <article><input type="text" placeholder="Nombre y apellido">
            <input type="email" placeholder="Correo Electronico">
            <input type="text" placeholder="Teléfono">
            <input type="text" placeholder="Cuentanos tus dudas">
        </article>
        <article>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2991.424033661382!2d2.1901780767640435!3d41.430019993348665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4bcd06c6e3b31%3A0x12ff4c16062dcdee!2sCarrer%20de%20Santa%20Coloma%2C%2008030%20Barcelona!5e0!3m2!1ses!2ses!4v1682526686582!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
        </article>
        </section>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>