<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscripciones</title>
    <%- include('partials/headLinks.ejs') %>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <div>
            <h1>Equipo</h1>
            <form>
                <input type="text" placeholder="nombre completo">
                <input type="text" placeholder="color camiseta">
                <input type="text" placeholder="dirección del campo">
                <input type="image" placeholder="escudo">
            </form>
        </div>
        <div>
            <h1>Jugador</h1>
            <form>
                <input type="text" placeholder="nombre completo">
                <input type="text" placeholder="dni">
                <input type="date" placeholder="fecha nacimiento">
                <input type="image" placeholder="foto">
            </form>
        </div>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>