<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros</title>
    <%- include('partials/headLinks.ejs') %>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <p>Las siglas FAF de nuestro logo hace referéncia al nombre de "Federación de los Amigos del Futbol",
        creada para veteranos y gente no acostumbrada a la alta competición pero
        que aun siente las ganas y la pasión por este deporte.
    </p>
    <%- include('partials/footer.ejs') %>
</body>
</html>