* {
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
}

main {
    margin: 10px;
}

.bg-light {
    background-color: #f0a122 !important;
}

footer {
    background-color: #f0a122 !important;
}

header img {
    width: 100px;
    border-radius: 50px;
}
